@font-face {
  font-family: "Hacen Algeria Hd";
  src: url("../../assets/alfont_com_Hacen-Algeria-Hd.ttf");
}

.printable-form {
  @media print {
    display: block;
  }

  display: none;
}

#form {
  width: 485px;
  height: 595px;
  /* border: 1px solid; */
}

.navbar {
  border-bottom: 1px solid black;
  display: flex;
}
.left {
  border-right: #000 solid 1px;
  margin-top: 15px;
}
.logo {
  margin-top: 14px;
  margin-left: 18px;
  margin-bottom: 19px;
  width: 129px;
  height: 41px;
  flex-shrink: 0;
  margin-right: 14px;
}
.log {
  width: 100%;
}

.polica {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  font-family: "Hacen Algeria Hd";
  width: 131px;
  height: 20px;
  flex-shrink: 0;
  margin-left: 70px;
  margin-right: 56px;
}
.text {
  color: #858585;

  font-family: "Hacen Algeria Hd";
  font-size: 15px;
  font-weight: 400;
  margin-top: 24px;
  margin-right: 16px;
  margin-left: 24px;
}

button {
  border-radius: 20px;
  background: #151414;
  width: 155px;
  height: 38px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-top: 15px;
  font-family: "Hacen Algeria Hd";
  line-height: 23.01px;
}

img {
  width: 105px;
  height: 28px;
  flex-shrink: 0;
  background: white 50% / cover no-repeat;
  margin: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  height: 164px;
  width: 352px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 21px;
  margin-right: 19px;

  border-spacing: 0cap;
  width: 100%;
  border-left: solid 1px;
  border-top: solid 1px;
  border-right: solid 1px;

  direction: rtl;
}

td {
  padding: 8px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  text-align: right;
  border-bottom: 1px solid;
  padding-right: 20px;
}

p {
  color: #b6b5b5;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 1000;
}
.container {
  display: flex;
}
